<librec-auto>
        
        <random-seed>202001</random-seed>
        <thread-count>1</thread-count>
        <data>
                <data-dir>../data</data-dir>
                <format>UIR</format>
	            	<data-file format="text">ratings.csv</data-file>

        </data>

        
            <features>
                <appender-class>net.librec.data.convertor.appender.UserFeatureAppender</appender-class>
                <item-feature-file>item-features.csv</item-feature-file>
                <protected-feature name="fea:new" type="item">new</protected-feature>
            </features>


        
        <splitter>
                <model count="2">kcv</model>
                <dim>userfixed</dim>
                <ratio>0.8</ratio>
                <save>true</save>
        </splitter>

        
        
        <alg>
	            <script lang="python3" src="system">
	                    <script-name>obp_recommend_wrapper.py</script-name>
                        <param name="model">OBP_STANDARD</param>
	            </script>

	    </alg>

        
        <metric>
                <ranking>true</ranking>
                <list-size>50</list-size>
                <class>ndcg,precision</class>
                <script lang="python3" src="system">
                        <script-name>expected_exposure_metric.py</script-name>
                </script>
                <script lang="python3" src="system">
                        <script-name>psp_metric.py</script-name>
                </script>
                <script lang="python3" src="system">
                        <script-name>ndcg_metric.py</script-name>
                </script>
        </metric>

        
        <post>
                <script lang="python3" src="system">
                        <script-name>result_graphics.py</script-name>
			            <param name="browser">true</param>
		        </script>
                
        </post>
<!--This configuration file was automatically generated by librec-auto. Editing may produce unpredictable results and is not recommended.--></librec-auto>
